{%extends 'base.html'%}
{% block title%}Services{% endblock title%}
 {%block body%}
 <div class="heading" style="text-align: center;">
    <span>Best Services</span>
    <h1>Explore Our Top Deals<br>From Top Rated Dealers</h1>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="static/3x5p9e3m.png" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/rent" method="get"> <!-- Change action to /rent and use method="get" -->
                <input type="hidden" name="car_id" value="1"> <!-- Unique identifier for the first car -->
                <button type="submit" class="btn btn-outline-success">Book</button>
            </form>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="static/zwwzclcs.png" class="d-block w-100" alt="...">        
           <div class="card-body">
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/rent" method="get"> <!-- Change action to /rent and use method="get" -->
                <input type="hidden" name="car_id" value="2"> <!-- Unique identifier for the first car -->
                <button type="submit" class="btn btn-outline-success">Book</button>
            </form>
        </div>
    </div>
</div>
</div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="static/2gqyegaj.png" class="d-block w-100" alt="...">        
             <div class="card-body">
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/rent" method="get"> <!-- Change action to /rent and use method="get" -->
                <input type="hidden" name="car_id" value="3"> <!-- Unique identifier for the first car -->
                <button type="submit" class="btn btn-outline-success">Book</button>
            </form>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="static/sp1jtnoo.png" width="100%" height="243.9" class="d-block w-100" alt="...">  
            <div class="card-body">
             <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/rent" method="get"> <!-- Change action to /rent and use method="get" -->
                <input type="hidden" name="car_id" value="4"> <!-- Unique identifier for the first car -->
                <button type="submit" class="btn btn-outline-success">Book</button>
            </form>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
             <img src="static/maphygl9.png" width="100%" height="243.9" class="d-block w-100" alt="...">
             <div class="card-body">
             <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/rent" method="get"> <!-- Change action to /rent and use method="get" -->
                <input type="hidden" name="car_id" value="5"> <!-- Unique identifier for the first car -->
                <button type="submit" class="btn btn-outline-success">Book</button>
            </form>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
             <img src="static/aqrfwrev.png" width="100%" height="243.9" class="d-block w-100" alt="...">
             <div class="card-body">
             <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/rent" method="get"> <!-- Change action to /rent and use method="get" -->
                <input type="hidden" name="car_id" value="6"> <!-- Unique identifier for the first car -->
                <button type="submit" class="btn btn-outline-success">Book</button>
            </form>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <img src="static/ryf5urxs.png" class="d-block w-100" alt="...">
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/rent" method="get"> <!-- Change action to /rent and use method="get" -->
                <input type="hidden" name="car_id" value="7"> <!-- Unique identifier for the first car -->
                <button type="submit" class="btn btn-outline-success">Book</button>
            </form>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
            <img src="static/ykdithi5.png" class="d-block w-100" alt="...">
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/rent" method="get"> <!-- Change action to /rent and use method="get" -->
                <input type="hidden" name="car_id" value="8"> <!-- Unique identifier for the first car -->
                <button type="submit" class="btn btn-outline-success">Book</button>
            </form>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="static/ycz58jcl.png" class="d-block w-100" alt="...">
            <div class="card-body">
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/rent" method="get"> <!-- Change action to /rent and use method="get" -->
                <input type="hidden" name="car_id" value="9"> <!-- Unique identifier for the first car -->
                <button type="submit" class="btn btn-outline-success">Book</button>
            </form>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <style>
     .d-flex {
        btn-align: center
     }
    </style>

 {% endblock body%} 